@charset "UTF-8";

/* section */
section{
	width: 100%; height: 1000px;
}

/* 서브 이미지 */
#subBanner {
	width: 100%; height: 320px;
	background: url("../img/join/join_sub.jpg") no-repeat;
	background-size: cover;
}

/* 상단 현재 진행 */
#locationN {
	width: 1000px;
	box-sizing: border-box;
	padding-top:38px;
	margin: 0 auto;
}
#locationN>ul {
	float: right;
}
#locationN>ul>li {
	float: left;
	font-size: 13px;
	color:rgb(92, 92, 92);
	font-weight: 700;
	line-height: 1.2;
	padding: 0px 13px 0px 10px;
	background: url("../img/join/bg_location_li.png") right no-repeat;
}
#locationN>ul>li:nth-child(3) {
	padding-right: 0px;
	background: none;
}

/* 회원가입 title */
#sub_top_area {
	width: 1000px; height: 127px;
	box-sizing: border-box;
	padding: 40px 0px 20px;
	margin: 0 auto;
}
#sub_top_area>h3 {
	font-size: 40px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 15px;
}

/* 회원가입 진행 단계 */
#join_step_div {
	width: 1000px; height: 120px;
	margin: 0 auto;
}
#join_step_div>ul {
	width: 1000px; height: 100px;
}
#join_step_div>ul>li {
	float: left;
	width: 330px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 1px;
}
#join_step_div>ul>li>span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	padding: 10px 0px 7px 0px;
}
#join_step_div>ul>li>p {
	font-size: 20px;
	font-weight: 700;	
}
#join_step_div>ul>li:nth-child(3) {
	background-color: #8b8075;
	color: #fff;
}

#join_success_div {
	width: 1000px; height: 250px;
	text-align: center;
	box-sizing: border-box;
	padding: 50px 0px;
	margin: 0 auto;
	border: 1px solid rgb(231, 231, 231);
}
#join_success_div p{
	width: 998px; height: 90px;
	color: rgb(102, 102, 102);
	font-size: 32px;
	margin_bottom: 25px;
	line-height: 150%;
}
#join_success_div strong {
	display: block;
	width: 998px; height: 42px;
	font-weight: 800%;
	color: rgb(51, 51, 51);
}
#join_success_div button {
	width: 100px; height: 55px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 15px;
	margin-top: 20px;
	background: rgb(138, 141, 143);
	border: 1px solid rgb(221, 221, 221);
}

